* {
    margin: 0;
    top: 0;
    left: 0;
    padding: 0;
    color: white;
    font-family: "Audiowide", sans-serif;
  }
  
  /*HEADER*/
  .item1 { 
    grid-area: header;
    background-image: url('../img/bg_header.jpg');
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda a tela */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    background-attachment: fixed; /* Mantém a imagem fixa enquanto a página é rolada */
    align-items: center;
    display: flex;
    height: 50px;
  }
  .item1 .left {
    margin-left: 2%;
    width: 49%;
    display: flex;
  }
  .item1 .left .logo img{
    width: 6vw;
    height: auto;
    max-height: 50px;
  }
  .item1 .left .items{
    width:20vw;
    padding-left: 60px;
    font-size:40px;
    display: flex;
  }
  i {
    color: white;
    padding-inline: 20px;
    transition: 1s;
    cursor: pointer;
  }
  .item1 i:hover {
    color: #E095E4;
    font-size: 45px;
  }
  .item1 .right {
    width: 50%;
    text-align: right;
    padding-right: 10vw;
  }
  
  /*CONTEUDO DA PAG*/
  .item3 { 
    grid-area: main; 
    background-image: url('../img/bg_plano.jpg');
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda a tela */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    background-attachment: fixed; /* Mantém a imagem fixa enquanto a página é rolada */
    width: 100%;
    max-width: 100vw;
    height: calc(100vh - 230px);
    
    align-items: center;
    flex-wrap: wrap;
  }
  .escolha {
    margin: 15px;
    width: fit-content;
    padding: 5px;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.3);
  }
  .escolha a {
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    transition: 1s;
  }
  .escolha a:hover{
    background-color: rgba(255, 255, 255, 0.4);
  }
  .item3 .conteudo {
    display: flex;
    justify-content: center;
  }
  .item3 .conteudo .box {
    margin: 50px;
    width: 300px;
    border-style: groove;
    border-radius: 5px;
    background-color: rgba(224, 149, 228, 0.3);
    text-shadow:  1px 1px 2px black, 0 0 25px gray, 0 0 5px black;
  }
  .item3 .tittle {
    border: none;
    border-bottom: 2px solid #ccc;
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-size: 20px;
    padding: 5px;
    transition: 1s;
  }
  .item3 i:hover {
    color: #E095E4;
  }
  .item3 .price {
    padding: 15px;
  }
  .item3 .content {
    font-size: 15px;
    padding: 10px;
    text-wrap: wrap;
    text-align: justify;
  }
  .item3 .buy {
    text-align: right;
    padding: 10px;
  }
  .item3 .buy button {
    border: none;
    background-color: #E095E4;
    padding: 3px 5px 3px 5px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 1s;
  }
  .item3 .buy button:hover {
    background-color: rgb(196, 99, 196);
    font-size: 17px;
  }
  
  /*RODAPÉ*/
  .item5 { 
    grid-area: footer; 
    background-image: url('../img/bg_footer.jpg');
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda a tela */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    background-attachment: fixed; /* Mantém a imagem fixa enquanto a página é rolada */
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }    
  .item5 span {
    margin: 0 40px 0 40px;
  }
  .grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header'
      'main main main main main'
      'footer footer footer footer footer';
    gap: 5px;
    background-color: rgba(224, 149, 228, 1);  /*cor rosa #E095E4*/
  }
  
  .grid-container > div {
    background-color: black;
    /*background-color: rgba(224, 149, 228, 1);*/
    padding: 20px 0;
    font-size: 30px;
  }
  
  .addPlano i{
    font-size: 100px;
    color: black;
  }
  